.ntb-services-title h1{
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.02em;
    text-align: center;

}
.ntb-services-title{
    margin-top: 50px;
}
.ntb-digital-experience{
    display: flex;
}
.ntb-service-right{
    margin-left: 100px;
}
.ntb-left-digital-exp a{
    font-family: "Poppins", sans-serif;
    color: #FD3D57;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
    padding-top: 50px;
}
.ntb-left-digital-exp p{
    margin-bottom: 50px;
}
@media only screen and (max-width:700px){
    .ntb-digital-experience{
        margin-left: 20px;
    }
    .ntb-left-digital-exp p{
        width: 250px;
    }
    .ntb-service-right img{
        width: 90vw;
    }
    .ntb-digital-experience{
        margin-left: -50px;
    }
}